/* clients.module.css */

/* Container for client columns */
.clientContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /* Space between columns */
}

.clientTitle {
    font-size: 18px;
    font-weight: bold;
    height: 75px;
    /* Set a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

/* Each client column */
.clientColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #fff;
    border-bottom: none;
    margin-bottom: 10px;
    text-align: center;
    /* background-color: #f9f9f9; */
    padding: 1em;
    /* Add padding for space around content */
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .clientColumn {
        flex-basis: calc(100% / 6 - 20px);
        /* Adjusted for margin-right and left */
    }
}

/* Container for inputs */
.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Space between input elements */
    align-items: center;
}

/* Input fields */
.inputsContainer input {
    width: 90%;
    max-width: 300px;
    /* Limit input width */
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.inputsContainer input:focus {
    background-color: rgb(234, 250, 142);
}

/* Checkboxes form */
.checkboxesForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}