/* clients.module.css */
.clientContainer {
    display: flex;
    flex-wrap: wrap;
}

.clientColumn {
    /* Three columns on smaller screens */
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 1em;
    /* Add a vertical line between columns */

    border: 1px solid #fff;
    border-bottom: none;
    /* Adjust as needed */
    /* Add some space to the right of each column */
    margin-bottom: 10px;
}

@media (min-width: 768px) {

    /* For screens with width 768px and above */
    .clientColumn {
        flex-basis: calc(100% / 6 - 10px);
        /* Six columns on larger screens */
    }
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.inputsContainer input {
    width: 90%;

    /* width: 20em; */
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.inputsContainer input:focus {
    background-color: rgb(234, 250, 142);
}