/* clients.module.css */
.clientContainer {
    display: flex;
    flex-wrap: wrap;
}

.clientColumn {
    flex-basis: calc(100% / 3 - 10px);
    /* Three columns on smaller screens */
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    /* Adjust as needed */
    margin-bottom: 10px;
}

@media (min-width: 768px) {

    /* For screens with width 768px and above */
    .clientColumn {
        flex-basis: calc(100% / 6 - 10px);
        /* Six columns on larger screens */
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.inputContainer input {
    max-width: 20em;
}